<div class="header">


    <nav class="navbar navbar-default nav-fixied-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a class="navbar-brand" href="#home"><img src="../../assets/images/cts.jpeg"></a>  

                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <div class="contact-no pull-right">
                <mat-icon class="call-icon"> call</mat-icon>
                <span class=" con no">
                    <p class="con-text"> For Contact</p>
                    <p class="con-number">+91-9994203268</p>
                </span>
            </div>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/aboutUs" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/ourproduct" routerLinkActive="active">Our Product</a></li>
            <li><a routerLink="/contactUs" routerLinkActive="active">Contact Us</a></li>
          </ul>

        </div>

    </nav>
</div>