.login-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 0px 0px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.34901960784313724);
  }
  a.menu-icon-btn {
    margin-top: 10px;
  }
  
  .slider-text {
    position: absolute;
    top: 24%;
    text-align: center;
    width: 100%;
  }
  .slider-text h1 {
  margin: 0;
  }
  .slider-text h1 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 4px;
  }
  
  .slider-text p {
    font-size: 18px;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
  }
  
  mat-icon.arrow_back_ios,mat-icon.arrow_forward_ios {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    font-size: 50px;
    color: #c3c3c3;
    position: absolute;
  }
  mat-icon.arrow_back_ios{
    left: 0px;
  }
  
  mat-icon.arrow_forward_ios {
    right: 0px;
  }
  
  .carousel .carousel-control{
  opacity: 1 !important;
  }
  
  .carousel-inner>.item>img {
    width: 100%;
  }
  
  
  
  button.login-btn {
    float: right;
    background: #f58220;
    font-size: 14px;
    border-radius: 0;
    padding: 0px 8px;
    font-weight: normal;
    line-height: 26px ;
    margin-right: 15px;
    margin-top: 20px;
  }
  mat-icon.lock_icon {
    margin-right: 0px;
    margin-top: 8px;
    font-weight: normal;
    font-size: 14px;
  }
  img.premia-logo {
    float: right;
    padding: 8px 15px;
    width: 165px;
  }
  
  .top-header {
    background: #798c9e!important;
    line-height: 26px;
    color: #ffffff;
    float: left;
    width: 100%;
  }
  
  
  
  /*.circular-menu {
  position: fixed;
  top: 8em;
  left: 1em;
  z-index: 9999;
  }
  
  .circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: #01233c;
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
  }
  
  .circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
  }
  
  .circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background:none;
  transition: all .3s ease;
  }
  
  .circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  img.menu-icon {
    width: 25px;
    margin-top: -5px;
  }
  .circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
  }
  
  .circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: #798c9e;
  transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(8em,-1em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(7.5em,3.7em,0);
  }
  .circular-menu a {
  text-decoration: none;
  }
  
  .circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(4em,8em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-1em,9em,0);
  }
  
  
  
  .circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
  }
  
  .circular-menu.circular-menu-left .floating-btn {
  background-color: #001229;
  }
  
  .circular-menu.circular-menu-left:after {
  background:none;
  }
  
  .circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
  }
  */
  
  
  .footer-div p {
  margin: 0;
  color: #fff;
  }
  .footer-div {
  float: left;
  width: 100%;
  text-align: center;
  background: #0261b0;
  padding: 6px 0px;
  }