<h1 mat-dialog-title>Register
    <button mat-mini-fab class="mat-dialog-close" (click)="dialog.closeAll()">
        <mat-icon aria-hidden="false" aria-label="Example close icon">close</mat-icon>
    </button>
</h1>
<div mat-dialog-content class="popcontainer table-seaching-filed popup-form-div">
                <form class="table-seaching-form" [formGroup]="usercreateform">
            
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="Input" required type="text" (change)="usernamechange()" minlength="8" maxlength="16" formControlName="username">
                </mat-form-field>
                <span  style="color:red" class="text-muted" *ngIf="usercreateform.get('username').hasError('minlength') && usercreateform.get('username').dirty">Username must contain atleast 8 to 16 characters</span>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Input" required type="password"   maxlength="10" formControlName="password">
                    <!-- <div class="password-strengthinfo">
                            <mat-password-strength #passwordComponent [hidden]="!isDisabled"
                              (onStrengthChanged)="onStrengthChanged($event)" [password]="password.value">
                            </mat-password-strength>
                            <mat-password-strength-info [hidden]="!isDisabled"
                              lowerCaseCriteriaMsg="contain atleast one Lowercase character"
                              upperCaseCriteriaMsg="contain atleast one uppercase character"
                              digitsCriteriaMsg="contain atleast one digit character"
                              specialCharsCriteriaMsg="contain atleast one special character"
                              minCharsCriteriaMsg="contain atleast 8 character" [passwordComponent]="passwordComponent">
                            </mat-password-strength-info>
                          </div>             -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Input" required type="text" formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile No</mat-label>
                    <input matInput placeholder="Input" required type="text" minLength="10" maxlength="10" formControlName="mobileno">
                </mat-form-field>
                <span  style="color:red" class="text-muted" *ngIf="usercreateform.get('mobileno').hasError('pattern') && usercreateform.get('mobileno').dirty">Accepts Numbers only</span>

                <mat-form-field appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input matInput placeholder="Input" required type="text" formControlName="emailid">
                </mat-form-field>
                <span  style="color:red" class="text-muted" *ngIf="usercreateform.get('emailid').hasError('email') && usercreateform.get('emailid').dirty">Enter Valid Email Id</span>
                <mat-form-field appearance="outline">
                    <mat-label>Login Type</mat-label>
                    <mat-select formControlName="usertype" required>
                            <mat-option *ngFor="let usertype of usertypes" [value]="usertype.value">
                              {{usertype.viewValue}}
                            </mat-option>
                          </mat-select>
                </mat-form-field>
            </form>
                <div class="button-sub-clt" style="text-align:center;margin-bottom:10px">
                        <a mat-raised-button (click)="register()" class="com-detail-sub">Register</a>
                </div>
                   
                <!-- </ul> -->
</div>