 <form  [formGroup]="filterform">
    <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex.sam" formControlName="filter">
</mat-form-field>
</form>
<div class=table-form>
    <table mat-table [dataSource]="dataSource" matSort >

        <ng-container matColumnDef="no">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
           <td mat-cell *matCellDef="let row"> {{row.no}} </td>
        </ng-container>

        <ng-container matColumnDef="appicationNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Appication Number</th>
            <td mat-cell *matCellDef="let row">{{row.appicationNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="appicationName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{row.appicationName}}</td>
        </ng-container>

        <ng-container matColumnDef="vertical">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vertical</th>
            <td mat-cell *matCellDef="let row">{{row.vertical}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>

        <ng-container matColumnDef="appicationType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Appication Type</th>
            <td mat-cell *matCellDef="let row">{{row.appicationType}}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedDate</th>
            <td mat-cell *matCellDef="let row">{{row.createdDate}}</td>
        </ng-container>

        <ng-container matColumnDef="submittedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SubmittedDate</th>
            <td mat-cell *matCellDef="let row">{{row.submittedDate}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
</mat-paginator>

</div>