<div class="card">
    <form class="" [formGroup]="registerpopupform">

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput autocomplete="off" placeholder="Input" required type="text" minlength="4" maxlength="10" formControlName="name">           
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>LastName</mat-label>
            <input matIpnut autocomplete="off" required type="text" formControlName="lastname">
        </mat-form-field>

        <mat-form-field appearance="ouutline">
            <mat-label>Password</mat-label>
            <input matInput autocomplete="off" placeholder="Input" required type="{{passtype}}" minlength="4" maxlength="12" formControlName="password">  
        </mat-form-field>

        <mat-form-field appearance="ouutline">
            <mat-label>ConfirmPassword</mat-label>
            <input matInput autocomplete="off" placeholder="Input" required type="{{passtype}}" minlength="4" maxlength="12" formControlName="confirmpassword">  
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
            <mat-option value="one">Male</mat-option>
            <mat-option value="two">Female</mat-option>
            <mat-option value="three">Other</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    
    <div class="button-sub-clt" style="text-align:center;margin-bottom:10px">
        <a mat-raised-button (click)="register()" class="com-detail-sub">Register</a>
    </div>
</div>

